spring:
  datasource:
    url: jdbc:h2:file:./data/test
    username: usr
    password: pass

  h2:
    console.enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always